.emoji-balloon-panel {
    border-radius:10px!important;
    box-shadow:0px 5px 20px 0px rgba(0, 0, 0, 0.2)!important;
    overflow: hidden;
}
.emoji-balloon-panel .ck-emoji__actions {
    padding: 10px;
    width: 400px!important;
    height: 300px;
    white-space: normal!important;
    & .ck-button {
        font-size: 20px;
        padding: 0.3em 0.5em 0;
        border: 0;
    }
}

